.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
vite.svg
target/
out/
.classpath
.project
.settings/
build/
logs/
*.log
.env
.env.*.local
*.swp
*.swo
